<ion-header>
  <ion-toolbar>
    <ion-title>panier</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of basket">
      {{item.name}}
      <ion-button slot="end" (click)="remove(item)">Remove</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
