<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <a [routerLink]="['/panier']">Panier</a>
  <ion-list>
    <ion-item *ngFor="let item of products">
      {{item.name}} - {{item.price}}€
        <ion-button slot="end"
                    (click)="addToBasket(item)">Ajouter au Panier</ion-button>
    </ion-item>
  </ion-list>

</ion-content>
